# Ignore virtual environment
venv/

# Ignore environment variable file
.env

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db